In [2]:
import pandas as pd

In [4]:
sales_df = pd.DataFrame({"item": ["tomatoes", "onions", "potatoes", "tomatoes", "mushrooms"],
                "quantity": [15, 26, 10, 12, 2],
                "total_price": [50.25, 39.52, 50.01, 40.20, 8.46]})
#sales_df.head()

sales_df.describe()

        quantity  total_price
count   5.000000     5.000000
mean   13.000000    37.688000
std     8.717798    17.128761
min     2.000000     8.460000
25%    10.000000    39.520000
50%    12.000000    40.200000
75%    15.000000    50.010000
max    26.000000    50.250000

In [5]:
goog_df = pd.DataFrame({"AAPL": [1045.85, 1070.08, 1140.99, 1113.65, 1193.32, 1231.54, 1215.00, 1207.15,1248.84, 1166.27, 1138.85, 1003.63, 1080.91]})

goog_df.describe()

              AAPL
count    13.000000
mean   1142.775385
std      76.556568
min    1003.630000
25%    1080.910000
50%    1140.990000
75%    1207.150000
max    1248.840000