In [1]:
import pandas as pd
import numpy as np

apple_df = pd.DataFrame({"AAPL": [72.27, np.nan, 74.39, np.nan, 75.94, 76.93,np.nan, 78.74, np.nan, 79.81, np.nan, 79.53, np.nan, 79.56, 79.49]})

apple_df

     AAPL
0   72.27
1     NaN
2   74.39
3     NaN
4   75.94
5   76.93
6     NaN
7   78.74
8     NaN
9   79.81
10    NaN
11  79.53
12    NaN
13  79.56
14  79.49

In [2]:
apple_df.isnull().sum()

AAPL    6
dtype: int64

In [3]:
apple_df.isnull().mean()

AAPL    0.4
dtype: float64